---
import "../styles/global.css"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

interface Props {
  title?: string
}

const { title = "Ahmad Ghoniem | Frontend Developer" } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <script type="text/javascript">
      ;(function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            ;(c[a].q = c[a].q || []).push(arguments)
          }
        t = l.createElement(r)
        t.async = 1
        t.src = "https://www.clarity.ms/tag/" + i
        y = l.getElementsByTagName(r)[0]
        y.parentNode.insertBefore(t, y)
      })(window, document, "clarity", "script", "w9ii9twh6c")
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="font-ui bg-background text-foreground antialiased">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
